.close-window-btn-container {
	.close-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 18px;
		height: 18px;
		background-color: $af-red;
		cursor: pointer;
		transition: $short-animation;
		&:hover {
			filter: brightness(0.9);
		}
		&:active {
			-webkit-box-shadow: inset 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
			box-shadow: inset 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
		}
	}
}

