.hello-world {
    opacity: 0;
    animation: hello-world-fade-in 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 600ms;	

    .content {
		padding: 25px 15px;
        height: 100%;
		position: relative;
		text-align: center;
		align-items: center;
		.logo {
            width: 100%;
            max-width: 300px;
            margin-bottom: 10px;
        }
		
		h2 {
			font-size: 1.2em;
			color: $desk-70;
			margin-bottom: 1em;
		}
		.localisation {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			color: $desk-70;
            font-weight: 500;
			img {
				width: 14px;
				height: 18px;
				margin-right: 5px;
				pointer-events: none;
				user-select: none;
                filter: invert(12%) sepia(75%) saturate(1915%) hue-rotate(208deg) brightness(96%) contrast(89%);
			}
		}
		.info {
			text-align: justify;
			margin-top: 3em;
			h3 {
				font-size: 1.3em;
			    color: $desk-50;
				margin-bottom: 0.6em;
				user-select: none;
				@include mobile-breakpoint {
					margin-bottom: 0.3em;
				}
			}
			p {
				color: $desk-70;
                font-weight: 500;
			}
			a {
				color: $desk-50;
				text-decoration: underline;
			}
        }
    }
}

@keyframes hello-world-fade-in {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}