.window-container {
	background-color: #fff;
	padding: 5px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(105, 105, 105, 0.2);
	box-shadow: 0px 1px 1px 1px rgba(105, 105, 105, 0.2);
}
