.folder-explorer {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $af-gray-80;
		color: $af-gray-20;
		padding: 4px 10px;
		&--title {
			display: flex;
			align-items: center;
			.folder-ico {
				padding: 3px;
				background-color: $af-gray-50;
				width: 16px;
				height: 16px;
				margin-right: 10px;
				border-radius: 50%;
			}
			.text {
				display: flex;
				padding: 3px 10px 3px 6px;
				font-weight: 500;
				font-size: 14px;
				border-radius: 2px;
				user-select: none;
				text-transform: capitalize;
				img {
					width: 16px;
					height: 16px;
					object-fit: cover;
					margin-right: 5px;
					filter: invert(1) brightness(1.2);
				}
			}
		}
	}
	&__body {
		display: flex;
		width: 100%;
		height: 100%;
		&--navbar {
			position: relative;
			width: 30%;
			min-width: 150px;
			&--item {
				display: flex;
				padding: 7px 0 7px 15px;
				cursor: pointer;
				&:hover {
					background-color: $af-gray-70;
				}
				.navbar-ico {
					width: 15px;
					height: 15px;
					object-fit: cover;
					filter: invert(0.9);
					margin-right: 7px;
					pointer-events: none;
				}
				p {
					color: $af-gray-30;
					font-size: 14px;
					user-select: none;
					pointer-events: none;
				}
				.home-ico {
					width: 16px;
					height: 16px;
				}
			}
			.navbar-footer {
				position: absolute;
				width: 100%;
				bottom: 30px;
				left: 0;
			}
			.active {
				background-color: $af-primary;
				.navbar-ico {
					filter: invert(1) brightness(1.4);
				}
				p {
					color: $af-gray-10;
				}
			}
		}
		&--content {
			width: 70%;
			background-color: $af-gray-10;
			color: $af-gray-90;
			::-webkit-scrollbar {
				width: 8px;
			}
			::-webkit-scrollbar-track {
				background: $af-gray-10;
			}
			::-webkit-scrollbar-thumb {
				background: $af-gray-40;
				border-radius: 10px;
			}
			::-webkit-scrollbar-thumb:hover {
				background: $af-gray-60;
			}
			.container {
				display: flex;
				flex-wrap: wrap;
				padding: 8px 2px;
				max-height: 90%;
				overflow-y: scroll;
				.folder {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					width: 80px;
					margin: 2px 7px;
					padding: 4px;
					background-color: rgba($af-gray-40, 0);
					&:hover {
						background-color: rgba($af-gray-40, 0.2);
					}
					&:focus {
						background-color: rgba($af-gray-40, 0.2);
					}
					.folder-pic {
						width: 48px;
						height: 48px;
						margin-bottom: 5px;
						object-fit: cover;
						user-select: none;
						pointer-events: none;
					}
					p {
						user-select: none;
						font-size: 14px;
						pointer-events: none;
					}
				}
				.video-preview-container {
					position: absolute;
					top: 140px;
					left: 100px;
					width: 320px;
					height: 200px;
					overflow: hidden;
					pointer-events: none;
					opacity: 0.9;
					video {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transform: scale(1.15);
					}
				}
			}
		}
		.dark-mode {
			background-color: $af-gray-70;
			color: $af-gray-10;
			::-webkit-scrollbar-track {
				background: $af-gray-70;
			}
		}
	}
}
