@import "./settings";

@import "./components/buttons";

@import "./layouts/navbars/topnavbar/top-nav-bar";
@import "./layouts/navbars/topnavbar/settings";

@import "./layouts/navbars/principalnavbar/principal-nav-bar";

@import "./layouts/windows/template";
@import "./layouts/windows/readme-template";
@import "./layouts/folder/folder-explorer";

@import "./desktop/desktop";
